@font-face{
    font-family: "rockwell";
    src: url("../fonts/rockwell/Rockwell.eot");
    src: url("../fonts/rockwell/Rockwell.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/rockwell/Rockwell.svg") format("svg"), 
        url("../fonts/rockwell/Rockwell.ttf") format("truetype"), 
        url("../fonts/rockwell/Rockwell.woff") format("woff"), 
        url("../fonts/rockwell/Rockwell.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

